<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SvodExcel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SvodExcel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.3460.0.19" newVersion="17.3460.0.19" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <SvodExcel.Properties.Settings>
      <setting name="PathVariable1" serializeAs="String">
        <value>D:\Repos\SvodExcel\РАСП.xlsx</value>
      </setting>
      <setting name="PathVariable2" serializeAs="String">
        <value>C:\Users\Администратор ОК\source\repos\SvodExcel\РАСП.xlsx</value>
      </setting>
      <setting name="PathToGlobal" serializeAs="String">
        <value>\\192.168.1.251\net\SvodExcel</value>
      </setting>
      <setting name="GlobalData" serializeAs="String">
        <value>РАСП.xlsx</value>
      </setting>
      <setting name="GlobalMarker" serializeAs="String">
        <value>employed</value>
      </setting>
      <setting name="PathToLocalData" serializeAs="String">
        <value>.\РАСП.xlsx</value>
      </setting>
      <setting name="WaitingInLine" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="AdminPassword" serializeAs="String">
        <value>RFadmin111</value>
      </setting>
      <setting name="PathToGlobalDataDefault" serializeAs="String">
        <value>\\192.168.1.251\net\SvodExcel\РАСП.xlsx</value>
      </setting>
    </SvodExcel.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <SvodExcel.Properties.Settings>
      <setting name="PathToGlobalData" serializeAs="String">
        <value>\\192.168.1.251\net\SvodExcel\РАСП.xlsx</value>
      </setting>
      <setting name="PathVariable3" serializeAs="String">
        <value>C:\Users\Илья\Source\Repos\gladeger\SvodExcel\РАСП.xlsx</value>
      </setting>
      <setting name="TimeTemp" serializeAs="String">
        <value />
      </setting>
      <setting name="PathNet" serializeAs="String">
        <value>\\192.168.1.251\net\SvodExcel</value>
      </setting>
      <setting name="NameSvodExcel" serializeAs="String">
        <value>РАСП.xlsx</value>
      </setting>
      <setting name="ViewFast" serializeAs="String">
        <value>ViewFast.xls</value>
      </setting>
      <setting name="PathLocalNewData" serializeAs="String">
        <value>.\</value>
      </setting>
      <setting name="ExtensionFileNewData" serializeAs="String">
        <value>xls</value>
      </setting>
    </SvodExcel.Properties.Settings>
  </userSettings>
</configuration>
